html {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #693699;
    --secondary-bg-color: #7C40A9;
    --third-bg-color: #9570DD;
}

.main-bg {
    background-color: var(--main-bg-color);
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-bg {
    background: var(--secondary-bg-color);
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 4rem;
}

.huge {
    font-size: 6rem;
}

.separator {
    background-color: var(--third-bg-color);
}